html {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

ul, p, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
}

.navbar,
.main,
.footer {
  box-sizing: border-box;
}

#block_3,
#block_1{
  background-color: rgba(179, 212, 252, 0.28);
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  background: #fafafa;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding-top: 4em;
}

.navbar-container {
  position: fixed;
  left: 0;
  z-index: 999;

  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 .25em .125em rgba(0, 0, 0, 0.33);
}

.navbar-container nav {
  width: 100%;
  max-width: 75em;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding: 0 2em;
}

.navbar li {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar__logo {
  display: flex;
  align-items: center;
  padding-left: 2.5em;
  height: 100%;

  background-image: url("../img/logo-mineral.svg");
  background-size: 2em;
  background-repeat: no-repeat;
  background-position-y: 0.6em;
}

.navbar-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.navbar-right__item {
  padding-left: 1em;
  text-align: end;
}

.welcome-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcome-header-left {
  position: absolute;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
}

.welcome-header-left-fake,
.welcome-header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 30em;
}

.welcome-header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-img {
  margin: 0 5em;
  width: 70%;
  height: 5em;
  background-size: 5em;
  background-repeat: no-repeat;
}

.welcome-header-left-radiator {
  background-image: url("../img/radiator.svg");
  background-position: right;
}

.welcome-header-left-fridge {
  background-image: url("../img/fridge.svg");
}

.welcome-header-left-conditioner {
  background-image: url("../img/air-conditioner.svg");
}

.intro-motivation__label-main {
  text-align: center;
}

.intro-motivation__label {
  padding: .5em 0;
}

.intro-motivation__label-list {
  padding-top: .5em;
  padding-bottom: .5em;
}

.intro-list {
  display: flex;
  flex-direction: row;
}

.intro-list ul {
  width: 100%;
}

.intro-list-item {
  display: flex;
  align-items: center;
  margin: .4em;
  min-height: 2em;
  padding: .4em;
  border: .2em solid #fff;
  border-radius: .3em;
  user-select: none;
}

.intro-list-item:hover {
  background-color: #fff;
}

.catalog-header,
.qualities-header,
.contact-us-header {
  padding-bottom: 2em;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 1em;
  height: 12em;
  width: 16em;
  padding: 1em;
  -webkit-box-shadow: 0 0.25em 0.625em 0 rgba(0,0,0,.2);
  box-shadow: 0 0.25em 0.625em 0 rgba(0,0,0,.2);

  background: #fff;
  transition: background-color 1s ease;
}

.card:hover {
  background-color: rgba(29, 38, 86, 0.15);
}

.card__img img {
  max-width: 11em;
  max-height: 7.5em;

  min-height: 100%;
  min-width: 100%;
}

.card__title {
  max-width: 100%;
  text-align: center;
}

.content-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 75em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}

.content-item-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2em 0;
}

.content-item header {
  display: flex;
  justify-content: center;
}

.qualities {
  padding: 0 1em;
}

.qualities_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.quality-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: .2em;
  width: 9em;
  padding: 1em;
  border-radius: .5em;

  user-select: none;
  transition: background-color 0.7s;
}

.quality-card:hover {
  background-color: white;
}

.quality-card__img {
  width: 4em;
}

.quality-card__label {
  padding-top: 1em;
  max-width: 100%;
  text-align: center;
}

.contact-us {
  flex-direction: column;
}

.contact-us-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  font-size: 2em;
}

.contact-us-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-us-header__label-main,
.contact-us-header__label {
  max-width: 100%;
  padding-bottom: 1em;
}

.contact-us p {
  display: flex;
  align-items: center;
}

.contact-us-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 10em;
  padding: 1em;
  text-align: center;
}

.contact-us-card img {
  margin-bottom: 1em;
  width: 3em;
  transition: opacity 0.5s ease-in-out;
}

.contact-us-card img:hover {
  opacity: 0.5;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #27426B;
  color: #e6e6e6;
}

.footer h4 {
  padding-top: .5em;
}

.footer-left,
.footer-right {
  padding: 0 .5em;
}

.footer-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 75em;
  padding: 2em;
}

.footer__item > p {
  padding: 0.3em 0;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .intro-list {
    flex-direction: column;
  }

  .welcome-header-left-fake {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
  }

  .welcome-header-right {
    align-items: center;
    width: 100%;
  }

  .welcome-header-right__text {
    max-width: 100%;
    text-align: center;
  }

  .welcome-header-left {
    width: 100%;
  }

  .welcome-img {
    opacity: 0.5;
  }

  .contact-us-content {
    font-size: 1em;
  }

  .contact-us-header__label {
    text-align: center;
  }

  .card {
    height: 19em;
    width: 100%;
  }

  .card__img img {
    max-width: 20em;
    max-height: 17.5em;
    min-height: 100%;
    min-width: 100%;
  }

  .footer-content-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    height: 5em;
  }

  .navbar-right {
    flex-direction: column;
  }

  .navbar-right__item {
    padding-left: 0.2em;
  }

  .navbar__logo {
    background-position-y: 1em;
  }

  .card {
    height: 19em;
    width: 100%;
  }

  .card__img img {
    max-width: 15em;
    max-height: 14.5em;
    min-height: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    padding: 0 1em;
  }

  .card {
    height: 14em;
    width: 100%;
  }

  .card__img img {
    max-width: 12em;
    max-height: 14.5em;
    min-height: 100%;
    min-width: 100%;
  }
}
